<!doctype html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <meta name="rating" content="general" />
    <meta name="author" content="Tsai. Cheng Peng (Canboo)"/>

    <title>基本資料 @ Nowait</title>

    <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/slick/slick.css" />
    <link rel="stylesheet" href="assets/theme/css/theme.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <div class="navbar-box">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">
                            <a href="#" title="Nowait" class="navbar-brand"><img class="img-fluid" src="images/svg/logo.svg" data-src-base="images/svg/" data-src="<991:logo-mobile.svg,>991:logo.svg" width="284" height="85" alt="Nowait"></a>
                        </div>
                        <div class="col-4 d-flex align-items-center">
                            <img src="images/slogan.png" class="img-fluid" alt="免卡分期 享購現在">
                        </div>
                        <div class="col-5 d-flex align-items-center">
                            <form class="form form-search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="熱門關鍵字：iPhone 9">
                                    <div class="input-group-append">
                                        <span class="input-group-btn">
                                            <button class="btn btn-dark" type="button"><img src="images/icon-search.png" alt="搜尋"></button>
                                        </span>
                                    </div>
                                </div>
                                <p class="text-orange">
                                    <a href="#" title="任天堂Switch">任天堂Switch</a>
                                    <a href="#" title="PS4 pro">PS4 pro</a>
                                    <a href="#" title="小米手環">小米手環</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navigation">
                    <div class="row">
                        <div class="col-lg-3 col-md-12 order-md-12">
                            <ul class="list-inline float-right">
                                <!-- <li class="list-inline-item item-register">
                                    <a href="#" title="註冊">註冊</a>
                                    <a href="#" title="登入">登入</a>
                                </li> -->
                                <li class="list-inline-item item-register">
                                    <a href="#">大中天，您好</a>
                                    <a href="#" title="登出" class="xs-none">登出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-12 order-md-6">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="#" title="廠商專區">廠商專區</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" title="幫助中心">幫助中心</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" title="會員中心">會員中心</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-5 col-md-12 order-md-1">
                            <ul class="list-inline">
                                <li class="list-inline-item list-download">
                                    <a href="#" title="下載APP">下載APP</a>
                                    <div class="app d-none">
                                        <dl>
                                            <dt>下載NoWait</dt>
                                            <dd>
                                                <div class="row">
                                                    <div class="col">
                                                        <img class="img-fluid" src="images/icon-applestore.png" alt="Apple Store">
                                                        <a href="#" title="下載NoWait"><img class="img-fluid" src="images/Tmp/qrcode.png" alt="Apple Store"></a>
                                                    </div>
                                                    <div class="col">
                                                        <img class="img-fluid" src="images/icon-googleplay.png" alt="Google Play">
                                                        <a href="#" title="下載NoWait"><img class="img-fluid" src="images/Tmp/qrcode.png" alt="Android"></a>
                                                    </div>
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </li>
                                <li class="list-inline-item xs-none"><a class="facebook" href="#" title="追蹤Nowait">追蹤Nowait</a></li>
                                <li class="list-inline-item xs-show"><a class="logout" href="#" title="登　　出">登　　出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        <h1><span>會員中心</span><small>member center</small></h1>
        <section id="member-zone">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="list-group">
                            <a href="member-info.htm" class="list-group-item list-group-item-action active">基本資料</a>
                            <a href="member-change.htm" class="list-group-item list-group-item-action">變更密碼</a>
                            <a href="member-order.htm" class="list-group-item list-group-item-action">訂單查詢</a>
                            <a href="member-pay.htm" class="list-group-item list-group-item-action">我要繳款</a>
                        </div>
                        <div class="sell xs-none" style="height: 430px;background-image: linear-gradient(151deg, #ff7f00,#fff0c9);">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="section-inner bg-white">
                            <div class="form-group row">
                                <label for="staticIDs" class="col-sm-3 col-form-label">會員編號</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="staticIDs" value="100004">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticName" class="col-sm-3 col-form-label">姓名</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="staticName" value="大中天">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticNickname" class="col-sm-3 col-form-label">暱稱</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="staticNickname" value="阿中">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticSex" class="col-sm-3 col-form-label">性別</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="staticSex" value="男">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticBirth" class="col-sm-3 col-form-label">生日</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="staticBirth" value="100-01-01">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticKind" class="col-sm-3 col-form-label">身分別</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="staticKind" value="勇者">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticID" class="col-sm-3 col-form-label">身分證號</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="staticID" value="F000000000">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticAddress" class="col-sm-3 col-form-label">現住地址</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="staticAddress" value="台北市中正區基隆路">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticTel" class="col-sm-3 col-form-label">現住電話</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="staticTel" value="0226739991">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticPhone" class="col-sm-3 col-form-label">手機</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="staticPhone" value="0900000000">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticLine" class="col-sm-3 col-form-label">LineID</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="staticLine" value="無">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticAddTime" class="col-sm-3 col-form-label">帳號申請時間</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="staticAddTime" value=" 2018-08-28 00:00:00">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <address>
                        <strong>Nowait</strong>
                        <abbr title="address"></abbr>台北市內湖區瑞光路188巷52號3樓<br>
                        <abbr title="phone"></abbr>02-1234-4321
                    </address>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-lg-3">
                            <dl>
                                <dt>關於NoWait</dt>
                                <dd>
                                    <ul class="list-unstyled">
                                        <li><a href="#" title="關於我們">關於我們</a></li>
                                        <li><a href="#" title="會員相關">會員相關</a></li>
                                        <li><a href="#" title="會員中心">會員中心</a></li>
                                        <li><a href="#" title="購物流程">購物流程</a></li>
                                        <li><a href="#" title="FB 粉絲團">FB 粉絲團</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-lg-3">
                            <dl>
                                <dt>客服中心</dt>
                                <dd>
                                    <ul class="list-unstyled">
                                        <li><a href="#" title="常見問題">常見問題</a></li>
                                        <li><a href="#" title="聯絡客服">聯絡客服</a></li>
                                        <li><a href="#" title="合作提案">合作提案</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-lg-3">
                            <dl>
                                <dt>會員權益</dt>
                                <dd>
                                    <ul class="list-unstyled">
                                        <li><a href="#" title="免責聲明">免責聲明</a></li>
                                        <li><a href="#" title="隱私聲明">隱私聲明</a></li>
                                        <li><a href="#" title="服務條款">服務條款</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-lg-3">
                            <dl>
                                <dt>下載NoWait</dt>
                                <dd>
                                    <div class="row">
                                        <div class="col">
                                            <img class="img-fluid" src="images/icon-applestore.png" alt="Apple Store">
                                            <a href="#" title="下載NoWait"><img class="img-fluid" src="images/Tmp/qrcode.png" alt="Apple Store"></a>
                                        </div>
                                        <div class="col">
                                            <img class="img-fluid" src="images/icon-googleplay.png" alt="Google Play">
                                            <a href="#" title="下載NoWait"><img class="img-fluid" src="images/Tmp/qrcode.png" alt="Android"></a>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <p class="copyright">Copyrights © 2018 NoWait. All Rights Reserved. Designed by <a href="kahap.com" title="kahap.com" target="_blank">kahap.com</a></p>
        </div>
    </footer>

    <script src="assets/jquery-3.3.1.min.js" defer></script>
    <script src="assets/bootstrap/bootstrap.min.js" defer></script>
    <script src="assets/slick/slick.min.js" defer></script>
    <script src="assets/theme/js/setting.js" defer></script>
</body>
</html>
