<?php
	$member = new Member();
	$or = new Orders();
	$memberData = $member->getOneMemberByNo($_SESSION['user']['memNo']);
	$memOrigData = $member->getOneMemberByNo($_SESSION['user']['memNo']);
	$origMemberData = $member->getOneMemberByNo($_SESSION['user']['memNo']);
	$member->changeToReadable($memberData[0]);
	$lg = new Loyal_Guest();
	$allLgData = $lg->getAllLoyalGuest();
	$ifLoyal = "否";
	foreach($allLgData as $keyIn=>$valueIn){
		if($valueIn["lgIdNum"] == $memOrigData[0]["memIdNum"]){
			$ifLoyal = "是";
		}
	}
	$iforder = $or->getOrderhistory($_SESSION['user']['memNo']);
    $disabled = ($iforder != '') ? "disabled":"";
?>


<div class="columns-container">
	<div class="container" id="columns">
		<div class="breadcrumb clearfix">
			<a class="home" href="index.php" title="Return to Home">首頁</a>
			<span class="navigation-pipe">&nbsp;</span>
			<span class="navigation_page">會員中心</span>
			<span class="navigation-pipe">&nbsp;</span>
			<span class="navigation_page">會員基本資料</span>
		</div>
		<!-- ./breadcrumb -->
		<!-- row -->
		<div class="row">
			<!-- Left colunm --><?php
				include_once('view/page_member_left.html');
			?>
			<!-- ./left colunm -->
			<!-- Center colunm-->
			<div class="center_column col-xs-12 col-sm-9" id="center_column">
				<div class="row">
					<h2 class="page-heading">
						<span class="page-heading-title2">會員基本資料</span>
					</h2>
					<!-- ../page heading-->
					<div class="page-content checkout-page">
						<h3 class="checkout-sep">會員編號: <?php echo $_SESSION['user']['memNo']; ?>，<?php echo $memOrigData[0]["memName"]." "; echo $memOrigData[0]["memGender"] == 0 ? "小姐" : "先生"; ?></h3>
						<div class="box-border">
							<ul>
								<div class="row">
									<div class="col-sm-6">
										<form id="member_idnum_edit">
											<div>
												<h4>註冊方式 :<?php echo $memberData[0]["memRegistMethod"]; ?></h4>
												<label for="first_name" class="required">姓&nbsp;&nbsp;名<span style="color:red">&nbsp;*</span>&nbsp; :</label>
												<input type="text" class="input form-control memName" name="memName" value="<?php echo $memberData[0]["memName"]; ?>" <?=$disabled?> ">
											
												<label for="first_name" class="required">身分證號<span style="color:red">&nbsp;*</span>&nbsp; : </label>
												<input type="text" style="text-transform:uppercase;" class="input form-control" name="memIdNum" value="<?php echo $memberData[0]["memIdNum"]; ?>" <?=$status?> <?=$disabled?>>
												<?php
													 if($memberData[0]["memName"]==="" || $memberData[0]["memName"]===null)
													{ ?>

												<?php } ?>
											</div>

										</form>
									</div>
							</ul>
							<button class="button" id="update">更新資料</button>
							<br /><br />
							<span style="color:red">
								親愛的用戶您好:<br />
								樂分期網站為實名註冊， <br />為了提供您更多更棒的分期服務，<br />需要您花幾秒完成您的個人資料，謝謝 !!<br />
							</span>
							</div>

					</div>

				</div>
				<!-- ./ Center colunm -->
			</div>
			<!-- ./row-->
		</div>
	</div>
	<script>
		$(".memother").hide();
		$(".memclass").change(function () {
			var memclass_val = $(this).val();
			if (memclass_val == '0') {
				$(".memSchool").show();
			} else {
				$(".memSchool").hide();
				$(".memSchool").val('');
			}
		})
		$("#update").click(function () {
			if (checkTwID($("input[name=memIdNum]").val())) {
				$.ajax({
					url: 'php/member_idnum_edit.php',
					data: $('#member_idnum_edit').serialize(),
					type: "POST",
					dataType: 'text',
					success: function (msg) {
						if (msg == '1') {
							alert('更新成功');
							location.href = 'index.php?item=member_center&action=member_idnum_edit';
						} else {
							alert(msg);
						}
					},

					error: function (xhr, ajaxOptions, thrownError) {
						alert(xhr.status);

					}
				});
			}
		})

		function checkTwID(id) {
			//建立字母分數陣列(A~Z)
			var city = new Array(
				1, 10, 19, 28, 37, 46, 55, 64, 39, 73, 82, 2, 11,
				20, 48, 29, 38, 47, 56, 65, 74, 83, 21, 3, 12, 30
			)
			id = id.toUpperCase();
			// 使用「正規表達式」檢驗格式
			if (id.search(/^[A-Z](1|2)\d{8}$/i) == -1) {
				alert('身分證字號錯誤錯誤');
				return false;
			} else {
				//將字串分割為陣列(IE必需這麼做才不會出錯)
				id = id.split('');
				//計算總分
				var total = city[id[0].charCodeAt(0) - 65];
				for (var i = 1; i <= 8; i++) {
					total += eval(id[i]) * (9 - i);
				}
				//補上檢查碼(最後一碼)
				total += eval(id[9]);
				//檢查比對碼(餘數應為0);
				if (total % 10 == 0) {
					return true;
				} else {
					alert('身分證字號錯誤');
				}
			}
		}
	</script>
