<?php
	$src = ($_GET['pro'] != "") ? 'https://'.DOMAIN.'/index.php?item=product&pro='.$_GET['pro'].'&share='.$_SESSION['user']['memNo']:'https://'.DOMAIN.'/index.php';
	$pm = new Product_Manage();
	if($_GET['pro'] != ""){
		$pm_detail = $pm->getAllByProName($_GET['pro']); //商品內容
		$img = json_decode($pm_detail[0]['proImage']);
		$img[0] = ($img[0] !="") ? $img[0]:"admin/images/indexImg/20160607062650.jpg";
		$ps = new Period_Setting();
		$month = $ps->getAllPS();
		foreach($month as $k => $v){
			$price[$v['psMonthNum']] = ceil($v['psRatio']*$pm_detail[0]['pmPeriodAmnt']/$v['psMonthNum']);
		}
		$str_price = "月付: NT $".number_format(min($price))."*". array_search(min($price),$price)."期";
		
	}else{
		$str_price = '最受大學生歡迎的分期購物網站!';
	}
	$category = new Category();
	$cate_head = $category->getAllCatDisplayAndOrder();
	
	
?>
<!DOCTYPE html>
<html>
<head>
	<title>樂分期-HappyFan7</title>
	<meta property="og:url"           content="<?php echo $src; ?>" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="<?php echo ($pm_detail[0]['proName'] != '')? $pm_detail[0]['proName']:'樂分期-HappyFan7'; ?>" />
	<meta property="og:description"   content="<?php echo $str_price; ?>" />
	<meta property="og:image"         content="https://<?=DOMAIN?>/<?php echo ($img[0] !="") ? "admin/".$img[0]:"admin/images/indexImg/20160607062650.jpg";?>" />
   
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="assets/data/page_icon.png">
    <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/lib/jquery.bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="assets/lib/owl.carousel/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="assets/lib/fancyBox/jquery.fancybox.css" />
    <link rel="stylesheet" type="text/css" href="assets/lib/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css" />
	<script type="text/javascript" src="assets/lib/jquery/jquery-1.11.2.min.js"></script>
	<script src="assets/js/jquery.placeholder.js"></script>

    <script src="assets/lib/jquery-ui/jquery-ui.js"></script>
    <script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="home">
<div id="header" class="header">
    <div class="top-header">
        <div class="container">
            <div class="nav-top-links">
				 <a href="http://www.facebook.com/sharer.php?u=http://<?=DOMAIN?>/index.php%3Fshare%3D<?php echo $_SESSION['user']['memNo'] ?>" target="_blank"><img src="assets/images/fb_share.png"/></a>
			</div>
			
            
            <div class="support-link">
			<?php 
				if($_SESSION['user']['memName'] != ""){
			?>
				<a href="?item=member_center"> <?php echo $_SESSION['user']['memName']?>  您好</a>
                <a href="?item=member_center&action=pay">我要繳款</a>
				<a href="php/logout.php">登出</a>
			<?php
				}else{
			?>
                <a href="?item=login_register<?php echo ($_GET['share'] != "") ? '&share='.$_GET['share']:'';?>">註冊</a>
                <a href="?item=login<?php echo ($_GET['share'] != "") ? '&share='.$_GET['share']:'';?>">登入</a>
            <?php
				}
			?>
			</div>
			
        </div>
    </div>
    <!--/.top-header -->
    <!-- MAIN HEADER -->
    <div class="container main-header">
        <div class="row">
            <div class="col-xs-12 col-sm-5 logo">
                <a href="index.php"><img alt="Kute Shop" src="assets/images/logo_new.png" /></a>
            </div>
            <div class="col-xs-12 col-sm-7 header-search-box">
                <form class="form-inline" action="?item=search" method="GET">
                      <div class="form-group form-category">
					  <input name="item" value="search" type="hidden">
                        <select class="select-category" name="category">
                            <option value="0">全部</option>
							<?php
								foreach($cate_head as $key => $value){
									if($value['catIfDisplay'] != "0"){
										echo "<option value='".$value['catOrder']."'>".$value['catName']."</option>";
									}
								}
							?>
                        </select>
                      </div>
                      <div class="form-group input-serach">
                        <input type="text"  placeholder="<?php 
							$string = new Hotkeys(); 
							$string_key = $string->getAllHK();
							if($string_key[0]['hkEnable'] != '0'){
								echo $string_key[0]['hkKey']; 
							}else{
								echo 'Apple, Sony, Phone'; 
							}
						?>" name="search">
                      </div>
                      <button type="submit" class="pull-right btn-search"></button>
                </form>
            </div>
            
        </div>    
    </div>
    <!-- END MANIN HEADER -->
    <div id="nav-top-menu" class="nav-top-menu">
        <div class="container">
            <div class="row">
				<?php
					if(array_key_exists($itemVal,$page_other ) or $itemVal != "" or $_POST['Firm_Number'] != "" or $_SESSION['ThirdData'] != ""){
					}else{
				?>
                <div class="col-sm-3" id="box-vertical-megamenus">
                    <div class="box-vertical-megamenus">
                        <h4 class="title">
                            <span class="title-menu">商品分類</span>
                            <span class="btn-open-mobile pull-right home-page"><i class="fa fa-bars"></i></span>
                        </h4>
                        <div class="vertical-menu-content is-home">
                            <ul class="vertical-menu-list">
								<?php 
									$i=1;
									foreach($cate_head as $key => $value){
										if($value['catIfDisplay'] != "0"){
										echo "<li><a href='?item=category&c=".$value['catOrder']."'>
													<img class='icon-menu' src='assets/data/F".$value['catOrder'].".svg'>".$value['catName']."</a>
											  </li>";
										}
										$i++;
									}
									//admin/".$value['catIcon']."
								?>
                            </ul>
                            
                        </div>
                    </div>
                </div>
				<?php
					}
				?>
                <div id="main-menu" class="col-sm-9 main-menu">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand" href="#">功能列表</a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav" style="float:right">
									<?php if(in_array($_SESSION['user']['memNo'],$memArray)){ ?>
									<li class="">
                                       <a href="?item=loading">我要抽獎</a>
                                    </li>
									<?php } ?>
                                    <li class="<?php echo ($_GET['item'] == 'sup_center') ? 'active':''; ?>">
                                        <a href="?item=sup_center">商店購物網</a>
                                    </li>
									<li class="<?php echo ($_GET['item'] == 'member_center') ? 'active':''; ?>">
										<a href="?item=member_center">會員中心</a>                                           
                                    </li>
									<li class="<?php echo ($_GET['item'] == 'loan_menu') ? 'active':''; ?>">
										<a href="?item=loan_menu">我要借款</a>                                           
                                    </li>
                                    <li class="<?php echo ($_GET['item'] == 'fmBuyStep') ? 'active':''; ?>">
										<a href="?item=fmBuyStep">購物流程</a>
									</li>
                                    <li class="<?php echo ($_GET['item'] == 'faq') ? 'active':''; ?>">
                                        <a href="?item=faq">常見問題</a>
                                    </li>
                                    <li class="<?php echo ($_GET['item'] == 'fmAboutUs') ? 'active':''; ?>">
                                        <a href="?item=fmAboutUs">關於我們</a>
                                    </li>
                                    <li class="<?php echo ($_GET['item'] == 'fmContactService') ? 'active':''; ?>">
										<a href="?item=fmContactService">聯絡客服</a>
									</li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </nav>
                </div>
            </div>
            <!-- userinfo on top-->
        </div>
    </div>
</div>
<!-- end header -->
