<style>
    .product-name {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>
<div class="columns-container">
    <div class="container" id="columns">
        <div class="breadcrumb clearfix">
            <a class="home" href="index.php" title="Return to Home">首頁</a>
            <span class="navigation-pipe">&nbsp;</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block category -->
                <div class="block left-module">
                    <p class="title_block">商品類別</p>
                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                    <?php
                                        foreach ($cate_head as $key => $value) {
                                            if ($value['catIfDisplay'] != "0") {
                                                @$active = ($value['catOrder'] == $_GET['c']) ? 'active' : '';
                                                echo "<li class='".$active."'><span></span><a href='?item=category&c=".$value['catOrder']."'>".$value['catName']."</a></li>";
                                            }
                                        }
                                    ?>
                                </ul>
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
            </div>
            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <div id="view-product-list" class="view-product-list">
                    <h2 class="page-heading">
                        <span class="page-heading-title">
                        <?php
                            $supNo = $_SESSION['ss_supNo'];
                            if($supNo=="")
                            {
                                echo "廠商專區";
                            }
                            else
                            {
                                $sup = new Supplier();
                                $supData = $sup->getOneSupplierByNo($supNo) ;
                                echo $supData[0]['supDisplayName'];
                            }
                        ?>
                        </span>
                    </h2>
                <!-- PRODUCT LIST -->
                    <ul class="row product-list grid">
                        <?php
                            if($supNo=="")
                            {

                        ?>
                        <div class="box-authentication">
                            <h3>請登入</h3>
                            <p for="emmail_login">帳號</p>
                            <input id="emmail_login" type="text" class="input form-control" />
                            <p for="password_login">密碼</p>
                            <input id="password_login" type="password" class="input form-control" />
                            <button class="button" id="login"><i class="fa fa-lock"></i> 登入</button>
                        </div>
                        <?php
                            }
                            else
                            {
                                $pm = new Product_Manage();
                                $p = new Product();
                                $ps = new Period_Setting();
                                $pp = new Product_Period();
                                $month = $ps->getAllPS();
                                $pm_data = $pm->getAllPM_forSup($supNo);
                                foreach (@$pm_data as $key => $value) {
                                    $p_contetn = $p->getOneProByNoWithoutImage($value['proNo']);
                                    $img = json_decode($p_contetn[0]['proImage']);
                                    $img[0] = ($img[0] !="") ? "admin/" . $img[0] : "admin/" . $img[1];
                                    $ppData = $pp->getPPByProduct($value["proNo"]);
                                    $followDefault = true;
                                    if ($ppData != null) {
                                        foreach ($ppData as $k => $v) {
                                            if ($v["ppPercent"] != "") {
                                                $followDefault = false;
                                                break;
                                            }
                                        }
                                    }
                                    if ($followDefault) {
                                        foreach ($month as $k => $v) {
                                            $total = ceil($v['psRatio']*$value['pmPeriodAmnt']/$v['psMonthNum']);
                                            if ($total > 1000) {
                                                $price[$v['psMonthNum']] = $total;
                                            }
                                        }
                                    } else {
                                        foreach ($ppData as $k => $v) {
                                            if (!empty($v['ppPercent'])) {
                                                $total = ceil($v['ppPercent']*$value['pmPeriodAmnt']/$v['ppPeriodAmount']);
                                                if ($total > 1000) {
                                                    $price[$v['ppPeriodAmount']] = $total;
                                                }
                                            }
                                        }
                                    }
                            ?>
                                    <li class="col-sx-12 col-sm-4">
                                        <div class="product-container">
                                            <div class="left-block">
                                                <a href="?item=product_sup&pro=<?php echo $value['proNo'];?>">
                                                    <img class="img-responsive" alt="product" src="<?php echo $img[0];?>" style="height: 220px;" />
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Quick view" class="search" href="?item=product_sup&pro=<?php echo $value['proNo'];?>"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" href="?item=product_sup&pro=<?php echo $value['proNo'];?>">立即分期</a>
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name">
                                                    <a href="?item=product_sup&pro=<?php echo $value['proNo'];  ?>"><?php echo $value['proName'];?></a>
                                                </h5>

                                                <div class="content_price">
                                                    <span class="price product-price"><?php echo "月付NT $".number_format(min($price)); ?>
                                                        <font style="color:#000;font-size:12px;line-height:25px"><?php echo "*".array_search(min($price),$price)."期"; ?>
                                                        </font>
                                                    </span>
                                                </div>
                                                <div class="info-orther">
                                                    <p>購買人數: <?php echo ($value['pmPopular'] != '') ? $value['pmPopular']+$value['pmBuyAmnt']:'1'."人"; ?></p>
                                                    <!-- <div class="product-desc" style="max-height: 50px;">
                                                        <?php //echo $value['proDetail']; ?>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                <?php
                                }
                            } ?>
                    </ul>
                    <!-- ./PRODUCT LIST -->
                </div>
                <!-- view-product-list-->

                <!-- ./view-product-list-->
                <!--<div class="sortPagiBar">
                </div>-->
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->

    </div>
</div>
<script>
    <?php if (!isset($_SESSION['ss_supNo'])) {?>
        window.onload=alertMsg;
        function alertMsg() {
            alert("本人同意以面交方式點收商品，不適用網路7天鑑賞期，後續維修保固及售後服務均由(蓋發票章)實體商店負責，NoWait只提供分期付款服務，不提供後續售後商品維修保固等服務。");
        }
    <?php }?>

    $('#login').click(function(){
        var emmail_login = $('#emmail_login').val();
        var password_login = $('#password_login').val();
        if(emmail_login != '' && password_login != ''){
        $.ajax({
                url: 'php/login_sales.php',
                data: "emmail_login="+emmail_login+"&password_login="+password_login,
                type:"POST",
                dataType:'text',
                success: function(msg){
                    if(msg == 0){
                        alert('登入成功<?php echo $_SESSION['ss_supNo']?>');
                        window.location = "?item=sup_center";
                    }else{
                        alert('帳號密碼錯誤');
                    }
                },

            error:function(xhr, ajaxOptions, thrownError){
                alert(xhr.status);
                alert(thrownError);
            }
        });
        }else{
            alert('帳號密碼必須填寫');
        }
    })

    function confirmKey(supNo,supKey){
        var skey = window.prompt('請輸入驗證碼...', '');
        if (skey != "") {
            if (skey != supKey) {
                alert('驗證碼錯誤 !!');
            }
            else {
                window.location = "?item=sup_center&supNo=" + supNo;
            }
        }
    }
</script>
<script type="text/javascript" src="assets/lib/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="assets/lib/jquery-ui/jquery-ui.min.js"></script>