<div class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 page-top-left">
                <div class="popular-tabs">
                    <ul class="nav-tab">
					<?php
						$pm = new Product_Manage();
						$p = new Product();
						$ps = new Period_Setting();
						$month = $ps->getAllPS();
						$news = $pm->getAllNew();
						$special = $pm->getAllSpecial();
						$hot = $pm->getAllHot();

						if($news != ""){
							echo "<li class='active'><a data-toggle='tab' href='#tab-1'>最新商品</a></li>";
						}
						if($special != ""){
							echo "<li class=''><a data-toggle='tab' href='#tab-2'>精選特賣</a></li>";
						}
						if($hot != ""){
							echo "<li class=''><a data-toggle='tab' href='#tab-3'>限時優惠</a></li>";
						}
					?>
                    </ul>
                    <div class="tab-container">
                            <div id="tab-1" class="tab-panel active">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "30" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    <?php
									if(count($news) >= 3){
										foreach($news as $key => $value){
											$img = json_decode($value['proImage']);
											$img[0] = ($img[0] !="") ? "admin/".$img[0]:"admin/".$img[1];
											foreach($month as $k => $v){
												$price[$v['psMonthNum']] = ceil($v['psRatio']*$value['pmPeriodAmnt']/$v['psMonthNum']);
											}
									?>
									<li>
                                        <div class="left-block">
                                            <a href="?item=product&pro=<?php echo $value['proNo'];  ?>">
                                                <img class="img-responsive" alt="product" src="<?php echo $img[0];?>" />
                                            </a>
                                            
                                            <div class="add-to-cart">
                                                <a title="立即購買" href="?item=product&pro=<?php echo $value['proNo'];  ?>">立即購買</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="?item=product&pro=<?php echo $value['proNo'];  ?>"><?php echo $value['proName'] ?></a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">
													<?php echo "月付NT $".number_format(min($price)); ?>
													<font style="color:#000;font-size:12px;line-height:25px">
														<?php echo "*".array_search(min($price),$price)."期"; ?>
													</font>
												</span>
                                            </div>
                                        </div>
                                    </li>
									<?php
										}
									}
									?>
                                  
                                </ul>
                            </div>
                            <div id="tab-2" class="tab-panel">
                                <ul class="product-list owl-carousel"  data-dots="false" data-loop="true" data-nav = "true" data-margin = "30"  data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    <?php
									if(count($special) >= 3){
										foreach($special as $key => $value){
											$img = json_decode($value['proImage']);
											$img[0] = ($img[0] !="") ? "admin/".$img[0]:"admin/".$img[1];
											foreach($month as $k => $v){
												$price[$v['psMonthNum']] = ceil($v['psRatio']*$value['pmPeriodAmnt']/$v['psMonthNum']);
											}
									?>
									<li>
                                        <div class="left-block">
                                            <a href="?item=product&pro=<?php echo $value['proNo'];  ?>">
                                                <img class="img-responsive" alt="product" src="<?php echo $img[0];?>" />
                                            </a>
                                            
                                            <div class="add-to-cart">
                                                <a title="立即購買" href="?item=product&pro=<?php echo $value['proNo'];  ?>">立即購買</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="?item=product&pro=<?php echo $value['proNo'];  ?>"><?php echo $value['proName'] ?></a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">
													<?php echo "月付NT $".number_format(min($price)); ?>
													<font style="color:#000;font-size:12px;line-height:25px">
														<?php echo "*".array_search(min($price),$price)."期"; ?>
													</font>
												</span>
                                            </div>
                                        </div>
                                    </li>
									<?php
										}
									}
									?>
                                </ul>
                            </div>
                            <div id="tab-3" class="tab-panel">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "30" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    <?php
									if(count($hot) >= 3){
										foreach($hot as $key => $value){
											$img = json_decode($value['proImage']);
											$img[0] = ($img[0] !="") ? "admin/".$img[0]:"admin/".$img[1];
											foreach($month as $k => $v){
												$price[$v['psMonthNum']] = ceil($v['psRatio']*$value['pmPeriodAmnt']/$v['psMonthNum']);
											}
									?>
									<li>
                                        <div class="left-block">
                                            <a href="?item=product&pro=<?php echo $value['proNo'];  ?>">
                                                <img class="img-responsive" alt="product" src="<?php echo $img[0];?>" />
                                            </a>
                                            
                                            <div class="add-to-cart">
                                                <a title="立即購買" href="?item=product&pro=<?php echo $value['proNo'];  ?>">立即購買</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="?item=product&pro=<?php echo $value['proNo'];  ?>"><?php echo $value['proName'] ?></a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">
													<?php echo "月付NT $".number_format(min($price)); ?>
													<font style="color:#000;font-size:12px;line-height:25px">
														<?php echo "*".array_search(min($price),$price)."期"; ?>
													</font>
												</span>
                                            </div>
                                        </div>
                                    </li>
									<?php
										}
									}
									?>
                                </ul>
                            </div>
                      </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!---->
