<!-- page wapper-->
<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="#" title="Return to Home">Home</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">聯絡客服</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- page heading-->
        <h2 class="page-heading">
            <span class="page-heading-title2">聯絡客服</span>
        </h2>
        <!-- ../page heading-->
        <div id="contact" class="page-content page-contact">
            <div id="message-box-conact"></div>
            <div class="row">
                <div class="col-sm-12" id="contact_form_map">
                    <h3 class="page-subheading">相關資訊</h3>
					<p>第一次使用Line線上客服可使用下列兩種方式加入：</p>
                    <br/>
					<ul>
                        <li>方式一：使用「ID搜尋」加入Line帳號「cmappservice」</li>
                        <li>方式二：使用「行動條碼」，對準上圖將自動加入 Line 帳號</li>
                        <li>服務時間：週一至周五 9:00~12:00 & 14:00~18:00</li>
                    </ul>
					<p>
						備註：Line線上客服使用PC版，無法使用通話功能，請使用聊天方式聯繫。
					</p>
					<img src="assets/images/happyfan7_qrcode.jpg" />
						
					
					<ul class="store_info">
                        <li><i class="fa fa-home"></i>(客服時間：周一到周五 9：00 ~ 18：00 )</li>
                        <li><i class="fa fa-phone"></i><span>(02) 5555-1717 分機 2275 </span></li>
                        <li><i class="fa fa-envelope"></i>Email: <span><a href="mailto:%73%75%70%70%6f%72%74@%6b%75%74%65%74%68%65%6d%65.%63%6f%6d">service@nowait.shop</a></span></li>
                    </ul>  
                </div>
				
            </div>
        </div>
    </div>
</div>
<!-- ./page wapper-->