	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<script src="assets/faq/modernizr.js"></script> <!-- Modernizr -->
    <div class="columns-container">
        <div class="container" id="columns">
            <!-- breadcrumb -->
            <div class="breadcrumb clearfix">
                <a class="home" href="https://happyfan7.com/index.php?item=login#" title="Return to Home">Home</a>
                <span class="navigation-pipe">&nbsp;</span>
                <span class="navigation_page">中獎名單</span>
            </div>
            <!-- ./breadcrumb -->
            <!-- page heading-->
            <img src="img/winner_02.jpg" class="img-responsive" alt="Image" style="margin-bottom:30px;padding: 0 10px; ">
            <!-- ../page heading-->
            <div class="page-content">
                <section class="whiteSection clearfix aboutPeople">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="col-md-1-5 col-xs-12">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <h2>No.1</h2>
                                            <br>
                                            <h3>Alex chen</h3>

                                        </div>
                                        <a href="#">
                                            <i class="fa fa-facebook-square" style="font-size: 35px;position: absolute;right: 25px;top: 90px;color: #37589e;"></i>
                                            <img src="https://scontent.ftpe4-1.fna.fbcdn.net/v/t1.0-1/35357429_2277249208961327_2285992752703340544_n.png?_nc_cat=0&_nc_eui2=AeHQDC7A1VwphYCL2kVlbnjE32xjc5aqsufRW7M9mjF0kz9Dro9aHyiExdo5Hs7ZlEcxuJAXwfAh4UTkHY05x8MkWxjUgmZUtjAImHoFSFpAOA&oh=a85f7811526cde7f8d4cfe83d325b99d&oe=5BD855D8"
                                                alt="people-image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-1-5 col-xs-12">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <h2>No.2</h2>
                                            <br>
                                            <h3>Alex chen</h3>
                                        </div>
                                        <a href="#">
                                            <i class="fa fa-facebook-square" style="font-size: 35px;position: absolute;right: 25px;top: 90px;color: #37589e;"></i>
                                            <img src="https://scontent.ftpe4-1.fna.fbcdn.net/v/t1.0-1/35357429_2277249208961327_2285992752703340544_n.png?_nc_cat=0&_nc_eui2=AeHQDC7A1VwphYCL2kVlbnjE32xjc5aqsufRW7M9mjF0kz9Dro9aHyiExdo5Hs7ZlEcxuJAXwfAh4UTkHY05x8MkWxjUgmZUtjAImHoFSFpAOA&oh=a85f7811526cde7f8d4cfe83d325b99d&oe=5BD855D8"
                                                alt="people-image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-1-5 col-xs-12">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <h2>No.3</h2>
                                            <br>
                                            <h3>Alex chen</h3>
                                        </div>
                                        <a href="#">
                                            <i class="fa fa-facebook-square" style="font-size: 35px;position: absolute;right: 25px;top: 90px;color: #37589e;"></i>
                                            <img src="https://scontent.ftpe4-1.fna.fbcdn.net/v/t1.0-1/35357429_2277249208961327_2285992752703340544_n.png?_nc_cat=0&_nc_eui2=AeHQDC7A1VwphYCL2kVlbnjE32xjc5aqsufRW7M9mjF0kz9Dro9aHyiExdo5Hs7ZlEcxuJAXwfAh4UTkHY05x8MkWxjUgmZUtjAImHoFSFpAOA&oh=a85f7811526cde7f8d4cfe83d325b99d&oe=5BD855D8"
                                                alt="people-image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-1-5 col-xs-12">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <h2>No.4</h2>
                                            <br>
                                            <h3>Alex chen</h3>
                                        </div>
                                        <a href="#">
                                            <i class="fa fa-facebook-square" style="font-size: 35px;position: absolute;right: 25px;top: 90px;color: #37589e;"></i>
                                            <img src="https://scontent.ftpe4-1.fna.fbcdn.net/v/t1.0-1/35357429_2277249208961327_2285992752703340544_n.png?_nc_cat=0&_nc_eui2=AeHQDC7A1VwphYCL2kVlbnjE32xjc5aqsufRW7M9mjF0kz9Dro9aHyiExdo5Hs7ZlEcxuJAXwfAh4UTkHY05x8MkWxjUgmZUtjAImHoFSFpAOA&oh=a85f7811526cde7f8d4cfe83d325b99d&oe=5BD855D8"
                                                alt="people-image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-1-5 col-xs-12">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <h2>No.5</h2>
                                            <br>
                                            <h3>Alex chen</h3>
                                        </div>
                                        <a href="#">
                                            <i class="fa fa-facebook-square" style="font-size: 35px;position: absolute;right: 25px;top: 90px;color: #37589e;"></i>
                                            <img src="https://scontent.ftpe4-1.fna.fbcdn.net/v/t1.0-1/35357429_2277249208961327_2285992752703340544_n.png?_nc_cat=0&_nc_eui2=AeHQDC7A1VwphYCL2kVlbnjE32xjc5aqsufRW7M9mjF0kz9Dro9aHyiExdo5Hs7ZlEcxuJAXwfAh4UTkHY05x8MkWxjUgmZUtjAImHoFSFpAOA&oh=a85f7811526cde7f8d4cfe83d325b99d&oe=5BD855D8"
                                                alt="people-image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 60px 30px;">
                                <h3 style="font-weight: bold;">中獎注意事項：</h3>
                                <hr>
                                <p style="font-size: 15px;line-height: 25px;color: rgb(51, 51, 51);font-family: Arial;">1. 請中獎者於開獎後期限內2018年8月10日PM17:00前兌領獎項，逾期視同放棄，不得領獎。</p>
                                <p style="font-size: 15px;line-height: 25px;color: rgb(51, 51, 51);font-family: Arial;">2. 中獎者須攜帶得獎人身分證影印本壹份(並請攜帶正本至現場以供核對)、得獎人私章至樂分期台北市基隆路一段163號5樓之2進行領獎。</p>
                                <p style="font-size: 15px;line-height: 25px;color: rgb(51, 51, 51);font-family: Arial;">3. 中獎資格及權利不得轉讓，獎項不得兌換現金。</p>
                                <p style="font-size: 15px;line-height: 25px;color: rgb(51, 51, 51); font-family: Arial;">4. 中獎者不符合活動規範，主辦單位有權取消其得獎資格。</p>
                                <p style="font-size: 15px;line-height: 25px;color: rgb(51, 51, 51); font-family: Arial;">5. 依法規定，中獎人於同一抽獎活動中，中獎之全部獎項總價值超過1,000元者，需以新台幣計價列入本年度個人所得申報，
                                    <br> &nbsp;&nbsp;&nbsp;&nbsp;中獎之全部獎項總價值新台幣(以下同)20,000元以上，需預先扣繳10%稅款(外籍人士需扣繳20%)機會中獎稅，
                                    <br> &nbsp;&nbsp;&nbsp;&nbsp;中獎人若不提供個人資料以供申報或拒繳相關稅務者，即喪失中獎資格及權利。</p>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
			
			
        </div>

        <style type="text/css">
            /* define bootstrap 5 columns */
            
            .col-xs-1-5,
            .col-sm-1-5,
            .col-md-1-5,
            .col-lg-1-5 {
                position: relative;
                min-height: 1px;
                padding-right: 10px;
                padding-left: 10px;
            }
            
            .col-xs-1-5 {
                width: 20%;
                float: left;
            }
            
            @media (min-width: 768px) {
                .col-sm-1-5 {
                    width: 20%;
                    float: left;
                }
            }
            
            @media (min-width: 992px) {
                .col-md-1-5 {
                    width: 20%;
                    float: left;
                }
            }
            
            @media (min-width: 1200px) {
                .col-lg-1-5 {
                    width: 20%;
                    float: left;
                }
            }
        </style>
        <!-- servives -->


    </div>
<script>
	$('.cd-faq-trigger').click(function(){
		if($(this).attr('data-gt') == '0'){
			$(this).css('color','#FF3366');
			$(this).attr('data-gt',1);
		}else{
			$(this).css('color','#1b79ca');
			$(this).attr('data-gt',0);
		}
		
	})
</script>
   <script>
        function resizenow() {
            var browserwidth = jQuery(window).width();
            var browserheight = jQuery(window).height();
            jQuery('.bonfire-pageloader-icon').css('right',
                ((browserwidth - jQuery(".bonfire-pageloader-icon").width()) / 2)).css('top', ((browserheight - jQuery(
                ".bonfire-pageloader-icon").height()) / 2));
        };
        resizenow();
        jQuery(window).resize(function() {
            resizenow();
        });

        function resizenow() {
            var browserwidth = jQuery(window).width();
            var browserheight = jQuery(window).height();
            jQuery('.bonfire-pageloader-icon').css('right', ((browserwidth - jQuery(".bonfire-pageloader-icon").width()) / 2))
                .css('top',
                    ((browserheight - jQuery(".bonfire-pageloader-icon").height()) / 2));
        };
        resizenow();
        jQuery("html").addClass('bonfire-html-onload');
        jQuery(document.body).on("touchmove", function(e) {
            e.preventDefault();
        });
        var scrollPosition = [self.pageXOffset || document.documentElement.scrollLeft ||
            document.body.scrollLeft, self.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop
        ];
        var html = jQuery('html');
        html.data('scroll-position', scrollPosition);
        html.data('previous-overflow', html.css('overflow'));
        html.css('overflow',
            'hidden');
        window.scrollTo(scrollPosition[0], scrollPosition[1]);

        jQuery(window).load(function() {
            setTimeout(function() {
                jQuery(".bonfire-pageloader-icon").addClass('bonfire-pageloader-icon-hide');
            }, 9000);
            setTimeout(function() {
                jQuery(document.body).unbind('touchmove');
                var html = jQuery('html');
                var scrollPosition = html.data('scroll-position');
                html.css('overflow', html.data('previous-overflow'));
                window.scrollTo(scrollPosition[0], scrollPosition[1]);
                jQuery("#bonfire-pageloader").addClass('bonfire-pageloader-fade');
                jQuery("html").removeClass('bonfire-html-onload');
            }, 9000);
            setTimeout(function() {
                jQuery("#bonfire-pageloader").addClass('bonfire-pageloader-hide');
            }, 10000);

        });
    </script>
<script src="assets/faq/jquery-2.1.1.js"></script>
<script src="assets/faq/jquery.mobile.custom.min.js"></script>
<script src="assets/faq/main.js"></script> <!-- Resource jQuery -->