<div class="page-top">
<!-- Footer -->
<footer id="footer">
     <div class="container">
            <!-- introduce-box -->
            <div id="introduce-box" class="row">
                <div class="col-md-3">
                    <div id="address-box">
                        <a href="#"><img src="assets/images/logo.png" alt="" /></a>
                        <div id="address-list">
                            <?php /*
                            <div class="tit-name">Email:</div>
                            <div class="tit-contain"><a href="mailto:service@nowait.shop"> service@nowait.shop</a></div>
							*/ ?>
                        </div>
                    </div> 
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="introduce-title">會員相關</div>
                            <ul id="introduce-company"  class="introduce-list">
                                <li><a href="?item=member_center">會員中心</a></li>
                                <li><a href="?item=fmBuyStep">購物流程</a></li>
								<li><a href="?item=fmDirectBuyRules">直購流程</a></li>
                                <li><a href="https://www.facebook.com/21happyfan7/" target="_blank">FB 粉絲團</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <div class="introduce-title">客服中心</div>
                            <ul id = "introduce-Account" class="introduce-list">
                                <li><a href="?item=faq">常見問題</a></li>
                                <li><a href="?item=fmContactService">聯絡客服</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <div class="introduce-title">會員權益</div>
                            <ul id = "introduce-support"  class="introduce-list">
							    <li><a href="?item=fmFreeRespons">免責聲明</a></li>
								<li><a href="?item=fmPrivacy">隱私聲明</a></li>
                                <li><a href="?item=fmServiceRules">服務條款</a></li>
                                <li><a href="?item=fmRecBonus">什麼是推薦碼</a></li>
                            </ul>
                        </div>
						<div class="col-sm-3">
                            <div class="introduce-title">關於NoWait</div>
                            <ul id = "introduce-support"  class="introduce-list">
							    <li><a href="?item=fmAboutUs">關於我們</a></li>
                                <li><a href="?item=co_company">合作提案</a></li>
                            </ul>
                        </div>
						
                    </div>
                </div>
            </div><!-- /#introduce-box -->

            <div id="footer-menu-box">
                <p class="text-center">Copyrights &#169; 2016 NoWait. All Rights Reserved. Designed by HappyFan7.com</p>
            </div><!-- /#footer-menu-box -->
        </div> 
</footer>

</div>
<a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
<!-- Script-->
<script type='text/javascript' src='assets/lib/jquery/jquery-1.11.2.min.js'></script>
<script type="text/javascript" src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/lib/select2/js/select2.min.js"></script>
<script type="text/javascript" src="assets/lib/jquery.bxslider/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="assets/lib/owl.carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/lib/jquery.countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="assets/lib/jquery.elevatezoom.js"></script>
<script type="text/javascript" src="assets/lib/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.actual.min.js"></script>
<script type="text/javascript" src="assets/js/theme-script.js"></script>

</body>
</html>