<?php
	$member = new Member();
	$memberData = $member->getOneMemberByNo($_SESSION['user']['memNo']);
	$memOrigData = $member->getOneMemberByNo($_SESSION['user']['memNo']);
	$origMemberData = $member->getOneMemberByNo($_SESSION['user']['memNo']);
	if (isset($_GET['key'])) {
		$memPwd = $memberData[0]['memPwd'];
	}
	$member->changeToReadable($memberData[0]);
	
	$lg = new Loyal_Guest();
	$allLgData = $lg->getAllLoyalGuest();
	$ifLoyal = "否";
	foreach($allLgData as $keyIn=>$valueIn){
		if($valueIn["lgIdNum"] == $memOrigData[0]["memIdNum"]){
			$ifLoyal = "是";
		}
	}
?>
<div class="columns-container">
    <div class="container" id="columns">
		<div class="breadcrumb clearfix">
            <a class="home" href="index.php" title="Return to Home">首頁</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">會員中心</span>
			<span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">變更密碼</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <?php 
				include_once('view/page_member_left.html');
			?>
            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <div class="row">
				<h2 class="page-heading">
					<span class="page-heading-title2">變更密碼</span>
				</h2>
				<!-- ../page heading-->
				<div class="page-content checkout-page">
					<div class="box-border">
						<ul>
							<div class="row">
								<div class="col-sm-6">
								<form id="member_edit">
									<label for="first_name" class="required"><span style="color:red">*</span>原始密碼 : </label>
									<input type="password" class="input form-control" name="memPwd" value="<?php echo $memPwd;?>">
									<label for="first_name" class="required"><span style="color:red">*</span>新設密碼 : </label>
									<input type="password" class="input form-control NewmemPwd" name="NewmemPwd" value="">
									<label for="first_name" class="required"><span style="color:red">*</span>再次確認密碼 : </label>
									<input type="password" class="input form-control reNewmemPwd" name="reNewmemPwd" value="">

									<input type="hidden" name="memNo" value="<?php echo $_SESSION['user']['memNo']; ?>" />
								</div>
								</form>
							</div>
						</ul>
						<button class="button" id="update">確認送出</button>
					</div>
					
				</div>
                
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>
<script>
	$(".memother").hide();
	$(".memclass").change(function(){
		var memclass_val = $(this).val();
		if(memclass_val == '3'){
			$(".memother").show();
		}else{
			$(".memother").hide();
		}
	})
	$("#update").click(function(){
		var NewmemPwd = $(".NewmemPwd").val();
		var reNewmemPwd = $(".reNewmemPwd").val();
		if( NewmemPwd == reNewmemPwd){
			$.ajax({
				url: 'php/member_password_edit.php',
				data: $('#member_edit').serialize(),
				type:"POST",
				dataType:'text',
				success: function(msg){
					if(msg){
						alert('更新成功');
						location.href='index.php?item=member_center&action=password_edit';
					}else{
						alert('原始密碼錯誤');
					}
				},

				error:function(xhr, ajaxOptions, thrownError){ 
					alert(xhr.status); 
					alert(thrownError);
				}
			});
		}else{
			alert("新設密碼和再次確認密碼請設定一樣");
		}
	})
	
</script>